#back{
    background-color: lightsteelblue;
}

#menu{
    width: 400px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: -10px;
}

a, h1{
    font-family: Arial, sans-serif;
    color: lightsteelblue;
    position: absolute;
    left: 20px;
    opacity: 0.8;
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
}

a{
    font-size: x-large;
}


a:hover{
    color: darkslateblue;
    left: 40px;
}

#name{
}

#linkHyper{
    top: 80px;
}

#OsHyper{
    top: 120px;
}

#gitRepo{
    top: 240px;
}

#vidHyper{
    top: 160px;
}

#calcHyper{
    top: 200px;
}

@keyframes move {
    0% {left: -100px}
    100% {left : 10px}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 0.8}
}

@keyframes compFI {
    0% {left: 20px}
    100% {left : 30px}
}